h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	line-height: 1.2;
}

h1 {
	@include font-size(2.25);
	margin: 0.67em 0;
}

h2 {
	@include font-size(2);
	margin: 0.83em 0;
}

h3 {
	@include font-size(1.75);
	margin: 1em 0;
}

h4 {
	@include font-size(1.5);
	margin: 1.2em 0;
}

h5 {
	@include font-size(1.25);
	margin: 1.3em 0;
}

h6 {
	@include font-size(1);
	margin: 1.4em 0;
}